.tableau {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-collapse: collapse;
  /* background-color: rgba(0, 0, 0, 0.411);*/
  color: rgb(255, 178, 84);
  text-decoration: solid;
  border: 1px solid rgba(255, 255, 255, 0.486);
}

.tableau tr:nth-of-type(even) {
  background-color: rgba(192, 163, 0, 0.26);
  color: rgb(255, 179, 80);
}

.tableau td:nth-of-type(odd) {
  color: rgba(238, 255, 0, 0.5);
}
.tableau th {
  padding: 105px;
  font-size: 2rem;
}
.tableau td {
  padding: 100px;
}
tr :visited {
  color: white;
}
